SPACE_TRACK_USER=your_username
SPACE_TRACK_PASS=your_password

VITE_AUTH0_DOMAIN=domain
VITE_AUTH0_CLIENT_ID=client

MYSQL_HOST=host
MYSQL_DATABASE=database
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_PORT='port'